
    <div class="espaceCandidatWrapper">
      <app-header></app-header>
      <div class="master-container">

        <div class="forms-container row">
          <div class="form-title">
            <h6>CANDIDATURE</h6>
          </div>

          <div class="form-container">
            <div class="left-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="file" class="form-control file-upload" />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                      <i class="fas fa-file-pdf fa-md"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="right-form">
              <div class="form-group">
                <div class="input-group">
                  <input type="file" class="form-control file-upload" />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon3">
                      <i class="fas fa-file-pdf fa-md"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="buttons-container">
            <button class="btn btn-primary next">Postuler</button>
            <button class="btn btn-primary cancel">Annuler</button>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>

