
    <button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" routerLink="/AjoutOffre"
>
  Ajouter
</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Filtrer
</button>

    <div class="demandeCandidatWrapper">

      <span class="titel">Liste des offres</span>
      <div class="tabel-conatiner">

        <table>
          <th>Titre du poste</th>
          <th>Département</th>
          <th>Pays</th>
          <th>Région</th>

          <th>Diplome démandé</th>
          <th>Expérience démandée</th>
          <th>Compétences Techniques démandées</th>
          <th>Date de début</th>
          <th>Salaire</th>
          <th>Type de contrat</th>
          <tr *ngFor="let offre of offres">
            <td>{{offre.nomOffre}}</td>
            <td>{{offre.departements}}</td>
            <td>{{offre.pays}}</td>
            <td>{{offre.region}}</td>

            <td>{{offre.diplome_demande}}</td>
            <td>{{offre.experience_demandee}}</td>
            <td>{{offre.competences_techniques}}</td>
            <td>{{offre.date_debut}}</td>
            <td>{{offre.salaire}}</td>
            <td>{{offre.type_contrat}}</td>
          </tr>
        </table>
      </div>

    </div>



