<nav>
    <div class="navbar">
      <div class="logo">
        <img src="../assets/images/AddInnLogo.svg" alt="AddInn Logo" />
      </div>
      <div class="menu-list">
        <ul>
          <li><a routerLink="Login"> Qui Sommes Nous ?</a></li>
          <li><a href="#">Nous Offres</a></li>
          <li><a href="#">Secteurs d'activité</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Nous Rejoindre</a></li>
        </ul>
      </div>
      <div class="login-button">
        <button routerLink="/Login">S'identifier</button>
      </div>
    </div>
  </nav>
