<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <title>Document</title>
  </head>
  <body>
    <div class="pop-up-wrapper">
      <div class="central-container">
        <div class="popup-titel"><span>Langages maitrisés</span></div>
        <div class="popup-body">
          <table>
            <th>Langage</th>
            <th>Maîtrise</th>
            <th>Mention</th>

            <tr>
              <td class="name-cell">JAVA</td>
              <td class="checkbox-cell">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
              </td>
              <td class="select-cell">
                <select class="form-control">
                  <option>A</option>
                  <option>A</option>
                  <option>A</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="name-cell">JAVA</td>
              <td class="checkbox-cell">
                <input class="form-check-input" type="checkbox" />
              </td>
              <td class="select-cell">
                <select class="form-control">
                  <option>A</option>
                  <option>A</option>
                  <option>A</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="name-cell">JAVA</td>
              <td class="checkbox-cell">
                <input class="form-check-input" type="checkbox" value="" />
              </td>
              <td class="select-cell">
                <select class="form-control">
                  <option>A</option>
                  <option>A</option>
                  <option>A</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="popup-footer">
          <button class="btn btn-primary btn-valider">Valider</button>
          <button class="btn btn-primary btn-cancel">Annuler</button>
        </div>
      </div>
    </div>
  </body>
</html>

