<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
>
  Filtrer
</button>

    <div class="demandeCandidatWrapper">

      <span class="titel">Gestion des candidatures</span>
      <div class="tabel-conatiner">
        <table>
          <th>Titre du poste</th>
          <th>FullName du candidat</th>
          <th>Email candidat</th>
          <th>Date de postulation</th>
          <th>Curriculum Vitae</th>
          <th>Score</th>
          <th>Années d'expérience demandé</th>
          <th>Années d'expérience du candidat</th>
          <th>Etat</th>
          <th>Action</th>
          <tr *ngFor="let candidature of candidatures">
            <td>Offre1</td>
            <td>Madiha Ben Alaya</td>
            <td>benalayamadiha@gmail.com</td>
            <td>{{candidature.date_postulation}}</td>
            <td>{{candidature.curriculum_Vitae}}</td>
            <td>{{candidature.score}}</td>
            <td>experience_demandee</td>
            <td>experience_candidat</td>
            <td><span class="statue">{{candidature.etat}}</span></td>
            <td>
              <i class="fas fa-eye" style="color: #007abe"></i>
              <i class="fas fa-pen-to-square"></i>
              <i class="fas fa-file"></i>
            </td>
          </tr>
        </table>
      </div>

    </div>


